<table class="min-w-full bg-white border">
    <thead>
        <tr>
            <th class="px-2 py-1 border">Klient</th>
            <th class="px-2 py-1 border">Specjalista</th>
            <th class="px-2 py-1 border">Początek</th>
            <th class="px-2 py-1 border">Koniec</th>
        </tr>
    </thead>
    <tbody>
    {% for a in appointments %}
        <tr>
            <td class="border px-2 py-1">{{ a.client }}</td>
            <td class="border px-2 py-1">{{ a.specialist }}</td>
            <td class="border px-2 py-1">{{ a.start.strftime('%Y-%m-%d %H:%M') }}</td>
            <td class="border px-2 py-1">{{ a.end.strftime('%Y-%m-%d %H:%M') }}</td>
        </tr>
    {% else %}
        <tr><td class="border px-2 py-1" colspan="4">Brak wizyt</td></tr>
    {% endfor %}
    </tbody>
</table>
